<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2><a href="/">My App</a></h2>
        <nav>
            <a href="/login">Log In</a>
        </nav>
    </header>
        <main>
            <h3>Hello this is the hompage</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, est aliquam! Commodi assumenda quas veniam aut deleniti, quis mollitia at maxime veritatis quod eos, itaque ipsa illum voluptatum saepe laudantium debitis, harum nesciunt expedita culpa. Modi asperiores consectetur nemo recusandae, mollitia quaerat deleniti odit repellendus veritatis dolorem harum quos! Minima cumque maiores officiis sapiente repudiandae voluptates quia quisquam non dolore ab alias soluta ipsa unde omnis delectus accusantium, repellat mollitia voluptate ad ullam recusandae. Odit assumenda cum iste at voluptate eos nulla quos sapiente, illum sint, dolor nisi laborum cumque beatae est. Autem deleniti, magni natus repellat dolorum aut! Debitis.</p>
        </main>

        <footer>
            <small>&copy; My App</small>
        </footer>
</body>
</html>